<div class="card" style="width: 600px; margin: auto; margin-top: 6%; margin-bottom: 6%;">
  <div class="card-content">
      <div  class="row">
          <div class="col s12">
              <img style="margin: 10px;"  src="assets/pictures/logo.png"/>
          </div>    
          <div class="input-field col s6">
              <span class="grey-text ">First name :</span>
              <input placeholder="First name" [(ngModel)]="user.firstName" type="text">
          </div>
          <div class="input-field col s6">
              <span class="grey-text ">Last name :</span>
              <input placeholder="Last name" [(ngModel)]="user.lastName" type="text">
          </div>
          <div class="input-field col s12">
              <span class="grey-text ">User name :</span>
              <input placeholder="User name" [(ngModel)]="user.userName" type="text">
          </div>
          <div class="input-field col s12">
              <span class="grey-text ">Passwords :</span>
              <input placeholder="Passwords" [(ngModel)]="user.password"  type="password">
          </div>
          <div class="input-field col s12">
              <span class="grey-text ">Confirm passwords :</span>
              <input placeholder="Passwords" type="password">
          </div>
          <div class="input-field col s12">
              <span class="grey-text "  >Picture URL :</span>
              <input placeholder="Picture URL" [(ngModel)]="user.picture" type="text">
          </div>
          <div class="col s12 input-field ">
              <span>
                  <label>
                  <input name="role" type="radio" [(ngModel)]="user.role" value="admin" checked />
                  <span>Admin</span>
                  </label>
              </span>
              <span>
                  <label>
                  <input name="role" type="radio" [(ngModel)]="user.role" value="user" />
                  <span>User</span>
                  </label>
              </span>
          </div> 
          <div class="col s12">
              <a class="waves-effect waves-light blue darken-2 btn right" (click)="register()">Submit</a>
          </div>
      </div>
  </div>
</div>