<div  style="margin: 4px; position: -webkit-sticky;position: sticky;top: 0; z-index: 10000;">
  <nav class="nav-extended blue darken-4">
      <div class="nav-wrapper z-depth-2" >
      <a class="brand-logo "><img style="width: 45px;height: 45px;vertical-align: middle;margin-left: 4px;" src="{{logUrl}}"/>{{title}}</a>
      <ul class="right ">
          <li><a>Resources</a></li>
          <li><a>About</a></li>
      </ul>
      </div>
      <div *ngIf="currentUser" class="nav-wrapper z-depth-2" >
      <ul class="left ">
          <li><a>link 1</a></li>
          <li><a>link 2</a></li>
          <li><a>link 3</a></li>
          <li><a>link 4</a></li>
          <li><a>link 5</a></li>
      </ul>
      <ul class="right">
          <li><a><img style="width: 45px;height: 45px;vertical-align: middle;border-radius: 50%;" src="{{currentUser.picture}}"/> {{currentUser.userName}}<span style="font-weight: 600;" class="new badge teal darken-1" [attr.data-badge-caption]="currentUser.role"></span></a></li>
          <li><a><i class="material-icons center" (click)="handleClickDisconnect()">power_settings_new</i></a></li>
      </ul>
      </div>
  </nav>
</div>