<div style="margin: 4px;">
    <nav class="nav-extended">
        <div class="nav-wrapper z-depth-2" >
        <a class="brand-logo left">SQLI Angular Demo</a>
        <ul class="right ">
            <li><a>Docs</a></li>
            <li><a>About</a></li>
        </ul>
        </div>
        <div class="nav-wrapper z-depth-2" >
        <ul class="left ">
            <li><a>link 1</a></li>
            <li><a>link 2</a></li>
            <li><a>link 3</a></li>
            <li><a>link 4</a></li>
            <li><a>link 5</a></li>
        </ul>
        <ul class="right">
            <li><a><i class="material-icons right">power_settings_new</i></a></li>
        </ul>
        </div>
    </nav>
</div>
<div style="width: 400px; margin-top: 6%;" class="row">
    <div class="col s12">
        <img style="margin: 10px;"  src="assets/sqli-logo.png"/>
    </div>    
    <div class="input-field col s6">
      <span class="grey-text ">First name :</span>
      <input placeholder="First name" type="text">
    </div>
    <div class="input-field col s6">
        <span class="grey-text ">Last name :</span>
        <input placeholder="Last name" type="text">
    </div>
    <div class="input-field col s12">
        <span class="grey-text ">User name :</span>
        <input placeholder="User name" type="text">
    </div>
    <div class="input-field col s12">
        <span class="grey-text ">Passwords :</span>
        <input placeholder="Passwords" type="password">
    </div>
    <div class="input-field col s12">
        <span class="grey-text ">Confirm passwords :</span>
        <input placeholder="Passwords" type="password">
    </div>
    <div class="col s12">
        <span>
          <label>
            <input name="role" type="radio" checked />
            <span>Admin</span>
          </label>
        </span>
        <span>
          <label>
            <input name="role" type="radio" />
            <span>User</span>
          </label>
        </span>
    </div> 
    <div class="col s12">
        <a class="waves-effect waves-light btn right">Submit</a>
    </div>
</div>
<footer class="page-footer">
    <div class="container">
        <div class="row">
        <div class="col l4 offset-l2 s12 ">
            <h5 class="white-text">References</h5>
            <ul >
            <li><a class="grey-text text-lighten-3" href="https://materializecss.com">Materialize CSS</a></li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/elabbademouad/SQLI-Angular-Demo-App">Github repository</a></li>
            <li><a class="grey-text text-lighten-3" href="https://angular.io/">Angular Doc</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Training assets </a></li>
            </ul>
        </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
        © 2019 Copyright El abbade Mouad for SQLI
        <a class="grey-text text-lighten-4 right" href="#!">Github</a>
        </div>
    </div>
</footer>