<div class="card" style="width: 400px; margin: auto; margin-top: 6%; margin-bottom: 10%;">
  <div class="card-content">
      <div  class="row">
          <img style="margin: 10px;" src="assets/pictures/logo.png"/>
          <div class="input-field col s12">
              <input placeholder="UserName"  [(ngModel)]="login.userName" type="text">
          </div>
          <div class="input-field col s12">
              <input placeholder="Passwords" [(ngModel)]="login.password" type="password">
          </div>
          <div>           
          </div>
          <div class="col s12">
              <a class="waves-effect" routerLink="/register">Register</a>
              <a class="waves-effect waves-light blue darken-2  btn right" (click)="handleLoginClick()">Login</a>
          </div>
          <div>
              <p>User : ashovelin8 1234 user</p>
              <p>User : cyukhnev4 1234 admin</p>
          </div>   
      </div>
  </div>  
</div>